*, *::before, *::after {
    box-sizing: border-box;
}

.nav {
    position: fixed;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.body {
    overflow: auto;
}

#score-card-title{
    margin-bottom: 0rem;
}

#quiz-card-title,
#quiz-card-subtitle {
    padding: 0.75rem;
    margin: 0rem;
}0

#quiz-card-body-top {
    padding-top: 0rem;
    padding-bottom: 0.75rem;
}

#quiz-quit-area {
    text-align: right;
}

#quiz-question {
    padding: 1rem;
    margin-bottom: 0rem;
    font-size: large;
}

#score-table {
    margin-bottom: 0rem;
    overflow-y: scroll;
}

#score-card-body-bottom {
    padding: 0.5rem;
}

#quiz-question-card-text-3,
#quiz-question-card-text-2,
#quiz-question-card-text-1 {
    margin-bottom: 0rem;
}

#score-list-group-item-1,
#score-list-group-item-2,
#quiz-list-group-item-1,
#quiz-list-group-item-2,
#quiz-list-group-item-3,
#quiz-list-group-item-4,
#quiz-quit-area,
#quiz-card-body-top { 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

#quiz-card-body-bottom {
    padding: 0.25rem;
}

#about-img {
    width: 100%;
    object-fit: cover;
}

#score-list-group-item-1,
#score-list-group-item-2,
#quiz-list-group-item-1,
#quiz-list-group-item-2,
#quiz-list-group-item-3,
#quiz-list-group-item-4 {
    border-bottom-width: 0px;
}

#about-list-group,
#about-link-row,
#about-timestamp-lbl {
    text-align: right;
}

.sf-container {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    padding-bottom: 0.2rem;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E64C00;
    text-align: right;
    padding: 0px;
}

#small-gatito {
    color: white;
}

/*IP5SE*/
@media (min-height: 568px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 1.5rem;
    }
}

/*GALAXYS5*/
@media (min-height: 640px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 1.5rem;
    }
}

/*IP678*/
@media (min-height: 667px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 1.5rem;
    }
}

/*PIXEL2*/
@media (min-height: 731px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 1.5rem;
    }
}

/*IP678+*/
@media (min-height: 736px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 1.5rem;
    }
}

/*IPX*/
@media (min-height: 812px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 0rem;
    }
}

/*PIXEL2XL*/
@media (min-height: 823px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 0rem;
    }
}

/*IPAD*/
@media (min-height: 1024px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 5rem;
    }
}

/*IPADPRO*/
@media (min-height: 1366px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 5rem;
    }
}

/*IPADPRO*/
@media (max-height: 1366px) {  

    #main-section-row-top {
        padding: 0.5rem;
    }
    #main-section-row-bottom {
        padding: 1.5rem;
    }
}